@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  position: relative;
}

button:not(:disabled) {
  cursor: pointer;
}
/* 
input[type="text"] {
  border: 1px solid #303030;
  padding: .25rem;
    border-radius: .5rem;

    &:focus {
  border: 1px solid #b5b5b5;
  outline: 0;
    }
} */

.sidebar {
  padding: 1.5rem;
  padding-right: 0;

  border-right: 1px solid #d8d8d8;

  & header {
    margin-block: 0.5rem;
    & .title-sidebar {
      font-family: "Inter", sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  & section {
    user-select: none;
    margin-top: 2rem;

    & h2 {
      font-size: 0.7rem;
      font-weight: 600;
      letter-spacing: 0.8px;
    }

    & div {
      & a {
        font-size: 0.9rem;
        border-radius: 1.5px;
        padding-block: 0.4rem;
      }
    }
  }
}

.active-url {
  border-left: 3px solid rgb(54, 59, 201);
  margin-left: -1.3rem;

  background-color: rgba(37, 42, 201, 0.04);

  svg {
    margin-left: 1.16rem;
    fill: rgb(54, 59, 201);
  }
}

.raffle-page {
  width: 100%;
  padding: 2rem;

  & h1 {
    font-size: 2rem;
  }

  & .raffle-container {
    & form {
      & .input-wrapper {
        display: flex;
        gap: 1rem;

        & input {
          color: #292524;
        }
      }

      & button {
        color: white;
      }
    }
  }
}
